body {
  background-color: #0F3861;
  background-image: url(\images/nightsky.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

.recommendation {
  background-color: white;
  color:navy;
  font-size:large;
  font-family:'Courier New', Courier, monospace;
  opacity:0.8;
  padding:20px;
  width:400px;
  margin:auto;


}

h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.nav-icon {
  height: 40px;
  width: 40px;
  justify-content: center;
  font-size: 20px;
  margin: 0px 15px;
}

.user_message {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size:medium;
}

.active:hover {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.active:active {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.5;
}

.active:focus {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.button div.selected button {
  opacity: 0.5; /* Adjust the opacity value as needed */
}

.entertain:active {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.5;
}

.entertain:hover {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;

}

.entertainment:focus {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.food:active {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.5;
}
.food:hover {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.food:focus {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.shop:active {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.5;
}

.shop:hover {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.shop:focus {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.wildcard:hover {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.wildcard:focus {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.wildcard:active {
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.5;
}

.button {
  margin: auto;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vote_button1 {
  margin: auto;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vote_button1 {
  margin: auto;
  position: absolute;
  top: 100%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vote_button2 {
  margin: auto;
  position: absolute;
  top: 150%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vote_button3 {
  margin: auto;
  position: absolute;
  top: 200%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.username {
  margin: auto;
  position: absolute;
  top: 38%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.password {
  margin: auto;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.password_con {
  margin: auto;
  position: absolute;
  top: 52%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.submit_login {
  margin: auto;
  position: absolute;
  top: 51%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.submit_int {
  margin: auto;
  position: absolute;
  top: 110%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.submit_reg {
  margin: auto;
  position: absolute;
  top: 59%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.submit_friends {
  margin: auto;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sug1yes:hover{
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.sug1no:hover{
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.sug2yes:hover{
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.sug2no:hover{
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.sug3yes:hover{
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.sug3no:hover{
  box-shadow: 0 4px 10px #ffffff;
  border-radius: 20px;
  opacity:0.8;
}

.fixed_element{
  position: fixed;
  bottom: 0;
  right: 0;
}
.bg_img {
  size: 300%;
  top: 100%;
  left: 50%;
}

.friends-list {
  color:white;
}
